
body {
	background: linear-gradient(-45deg, #901D49,#4A0656,#100128);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face{
	font-family: "Open Sans";
	src:url('../fonts/OpenSans-Light.ttf');
}

html,body{
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  margin: 0 auto;
}

nav{
	width: 100%;
	height: 150px;
	display: inline-block;
	text-align: center;
}
.navbardiv{
	width: 100%;
	height: 150px;
	display: inline-block;
	text-align: center;
	

	

	

}

.navbar{
	/*
	height: 30px;
	width: 104.96px;
	height: 96px;
	width: 96px;
	*/
	margin-top: 30px;
	width: 96px;
	height: 96px;
	/*margin-left: -30%;*/
	display: inline-block;
	text-align: center;
	
}

.textoemcimadotextodabarralink{
	font-size: 1.60rem;
	text-shadow: 3px 3px 1px rgba(0,0,0,.90);
	color: #ab9a1d;
	
	
	
	display: inline-block;
	text-align: center;
	
	width: 100%;
	
	
}

.textoemcimabarralink{
	text-shadow: 3px 3px 1px rgba(0,0,0,.90);
	color:#ada2a2;
	font-size: 1.25rem;
	display: block;
	text-align: center;

}
.URLYT{
	max-width: 356px;
	cursor: text;
}
input{
    width: 70%;
    max-width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    position: center;
    outline: none;
    cursor: pointer;
}

.linkdownloadvideo{
	margin: 60px auto;
	display: block;
	position: center;
}

/*
 Tudo dentro do formulário. Inluindo filhos > filhos
*/

form *{
	font-family: "Open Sans";
}

.submit{
	font-family: Arial;
	font-size: 26px;
	text-shadow: 3px 3px 3px rgba(0,0,0,.95);
	background-color: #f5365c;
	color:white;
	font-style: bold;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	
}


/*
Quando utilizamos o important o nível de especificação deixa de existir.
Quando mais de 1 estão utilizando o important então o nível de especificação volta a contar.

.box p{
	font-family: "Open Sans" !important;
}

.text{
	font-family: tahoma !important;
}
*/
