body {
	background-color: #0b2327;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Light.ttf');
}

html * {
	width: 100%;
	height: 100%;
	font-family: "Open Sans";
}

.navbar {
	height: 30px;
	width: 104.96px;
}

.textoemcimadotextodabarralink {
	font-size: 1.20rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
	color: #ab9a1d!important;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.5;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 10px;
	margin: 0 auto;
	padding:0 auto;
	align-content: center;
}

.textoemcimabarralink {
	color: #ada2a2;
	font-size: 0.80rem;
	display: block;
	text-align: center;
}

input {
	width: 350px;
	text-align: center;
	padding: 15px 20px;
	border-radius: 6px;
	font-size: 18px;
	display: block;
	margin: 0 auto;
	height: 10px;
	position: center;
	outline: none;
}


.linkdownloadvideo {
	margin: 60px auto;
	display: block;
	position: center;
}

form * {
	font-family: "Open Sans";
}

input.submit {
	margin-top: 0px;
	font-family: Arial;
	font-size: 26px;
	background-color: #f5365c;
	color: white;
	font-style: bold;
	text-transform: uppercase;
	font-weight: 700;
	height: 60px;
}